h1{color: rgb(230, 30, 30);}
h2{color: rgb(230, 30, 30);}
li{color: rgb(145, 34, 34);}
a {background-color: yellow; color: rgb(145, 34, 34);}

ul{letter-spacing: 3.5px}
m{text-decoration: line-through;}
j{background-color: yellow;}
k{text-decoration: underline;}
p{color: rgb(145, 34, 34);}
f{background-color: yellow;}